@model MVCLibrary.Models.Entity.Books
@{
    ViewBag.Title = "BookAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/style/AddAndBringStyle.css" rel="stylesheet" />

<form class="form-group" method="post">
    <div class="container">
        <div class="left-side">
            <label>Title</label>
            @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })

            <label>Category</label>
            @Html.DropDownListFor(p => p.Categories.Id, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
            <label>Author</label>
            @Html.DropDownListFor(p => p.Authors.Id, (List<SelectListItem>)ViewBag.authors, new { @class = "form-control" })
        </div>

        <div class="right-side">
            <label>Page Count</label>
            @Html.TextBoxFor(p => p.PageCount, new { @class = "form-control" })
            <label>Year Of Publication</label>
            @Html.TextBoxFor(p => p.PublicationYear, new { @class = "form-control" })
            <label>Publisher Company</label>
            @Html.TextBoxFor(p => p.PublisherCompany, new { @class = "form-control" })

        </div>
    </div>

    <button class="btn btn-primary">Book Add</button>

</form>